<div *ngIf="user">
  <nav>
    <ul>
      <li><a routerLink="/dashboard">FOLLOWING</a></li>
      <li><a routerLink="/dashboard">FOLLOWERS</a></li>
      <li><a routerLink="/dashboard">LISTS</a></li>
      <li><a routerLink="/list/{{ user.username }}/library">LIBRARY</a></li>
      <li><a routerLink="/list/{{ user.username }}/wishlist">WISHLIST</a></li>
      <li>
        <a *ngIf="user.username === currentUser" routerLink="/profile/edit/{{ currentUser}}">EDIT PROFILE</a>
      </li>
    </ul>
  </nav>
  <div id="profile" *ngIf="user.image != undefined">
    <img id="profile_picture" src="{{ user.image }}" alt="Profile picture" />
    <h1 id="profile_name">{{ user.username }}</h1>
    <button *ngIf="user.username !== currentUser" (click)="follow(user.username)">Follow</button>  
  </div>
</div>
