<form id="signup">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Username</p>
    <input type="text" placeholder="Enter Username" #username />
    <p>Password</p>
    <input type="password" placeholder="Enter Password" #password1 />
    <p>Repeat password</p>
    <input type="password" placeholder="Repeat Password" #password2 />
    <p></p>
    <label> <input type="checkbox" checked="checked" /> Remember me </label>
    <p id="requisitos">Requisitos construção de senha:</p>
    <p>
      A senha deve ter oito ou mais caracteres, incluindo pelo menos uma letra
      maiúscula, uma letra minúscula e um algarismo
    </p>
    <p>{{ feedback }}</p>
    <div class="clearfix">
      <button
        type="submit"
        class="signupbtn"
        (click)="signup(username.value, password1.value, password2.value)"
      >
        Sign Up
      </button>
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </div>
</form>
