<form id = signup>
    <div class="container">
      <h1>Sign Up</h1>  
      <p>Email</p>
      <input type="text" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" placeholder="Enter Password">
      <p>Repeat password</p>
      <input type="password" placeholder="Repeat Password">
      <p></p>
      <label>
        <input type="checkbox" checked="checked"> Remember me
      </label>  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
  
