header {
  background-color: #47645c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 4px;
}

nav a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.dropbtn:hover {
  background-color: #555;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.left-nav {
  margin-right: auto;
  left: 0;
}

.right-nav {
  margin-left: auto;
  right: 0;
}

.login-signup {
  display: flex;
  align-items: center;
}

.login-signup button {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

.login-signup button:hover {
  background-color: #3d7fcc;
}

main {
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d7fcc;
}

.left-nav {
  margin-right: auto;
  left: 0;
}

.right-nav {
  margin-left: auto;
  right: 0;
}
