header {
  background-color: #47645c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.left-nav {
  margin-right: auto;
  left: 0;
}

.right-nav {
  margin-left: auto;
  right: 0;
}

.login-signup {
  display: flex;
  align-items: center;
}

.login-signup button {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

.login-signup button:hover {
  background-color: #3d7fcc;
}

main {
  margin: 2rem auto;
  max-width: 80vw;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d7fcc;
}

.left-nav {
  margin-right: auto;
  left: 0;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  right: 0;
}

#cart-link {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  main {
    max-width: 95vw;
  }
}
