<header>
  <nav>
    <div class="left-nav">
      <div class="dropdown-content">
        <a routerLink="/dashboard"><b>G13 Gaming</b></a>
        <a routerLink="/browse">Browse</a>
        <a *ngIf="username; else loginRedirection" routerLink="/profile/{{ username }}">Profile</a>
        <a *ngIf="username; else loginRedirection2" routerLink="/profilesearch">ProfileSearch</a>
        <ng-template #loginRedirection>
          <a routerLink="/login">Profile</a>
        </ng-template>
        <ng-template #loginRedirection2>
          <a routerLink="/login">ProfileSearch</a>
        </ng-template>
      </div>
    </div>
  </nav>

  <nav>
    <div class="right-nav">
      <a routerLink="/cart" id="cart-link">
        <mat-icon [matBadge]="itemsInCart" matBadgeColor="primary" matBadgeSize="small" matBadgePosition="before">shopping_cart</mat-icon>
        <span class="cdk-visually-hidden">Your cart has {{ itemsInCart }} items.</span>
      </a>
      <ng-container *ngIf="username">
        <b *ngIf="username">Welcome, {{ username }}</b>
        <button class="logout" *ngIf="username" (click)="logout()">Logout</button>
      </ng-container>
      <ng-container *ngIf="!username">
        <a routerLink="/login">Login/Sign Up</a>
      </ng-container>
    </div>
  </nav>
</header>

<main>
  <h2>Welcome to G13 Gaming</h2>
  <p>
    Discover the latest and greatest games, connect with other gamers, and share
    your experiences!
  </p>
  <router-outlet></router-outlet>
</main>
