<header>
  <nav>
    <div class="left-nav">
      <div class="dropdown">
        <a class="dropbtn">&#9776;</a>
        <div class="dropdown-content">
          <a routerLink="/">Home</a>
          <a routerLink="/browse">Search</a>
          <a routerLink="/dashboard">Dashboard</a>
          <a routerLink="/profile/{{username}}">Profile</a>
        </div>
      </div>
    </div>
  </nav>
  <nav>
    <div class="right-nav">
      <b *ngIf="username.length>0">Welcome, {{username}}</b>
      <a routerLink="/login" *ngIf="!username">Login/Sign Up</a>
    </div>
  </nav>
</header>



<main>
  <h2>Welcome to G13 Gaming</h2>
  <p>Discover the latest and greatest games, connect with other gamers, and share your experiences!</p>
  <router-outlet></router-outlet>
</main>