<div *ngIf="item" class="main">
  <h2>{{ item.title }}</h2>

  <div class="info">
    <img class="cover" src="{{ item.cover }}" />
    <div class="details">
      <p>{{ item.type | uppercase }} {{ item.stars }}&#9733;</p>
      <p *ngIf="item.price > 0">Price: {{ item.price }}€</p>
      <p *ngIf="item.price == 0">Free to Play</p>
      <p *ngIf="item.platform == 'all'">
        Platform: PC, XBOX,<br />
        Playstation, Nintendo Switch
      </p>
      <p *ngIf="item.platform != 'all'">Platform: {{ item.platform }}</p>
    </div>
  </div>
  <p>{{ item.description }}</p>
  <div class="reel">
    <video
      *ngIf="item.video"
      type="video/mp4"
      autoplay="true"
      controls="true"
      [muted]="true"
      [loop]="true"
      src="{{ item.video }}"
      width="600px"
      height="auto"
    >
      Browser not supported
    </video>
    <img
      class="img-responsive"
      *ngIf="item.reel[0]"
      src="{{ item.reel[0] }}"
      tabindex="0"
    />
    <img
      class="img-responsive"
      *ngIf="item.reel[1]"
      src="{{ item.reel[1] }}"
      tabindex="0"
    />
  </div>

  <br />
  <p>Available Languages:</p>
  <div class="lang" tabindex="0">
    <p *ngFor="let lang of item.language">{{ lang }} &nbsp;&nbsp;</p>
  </div>

  <div tabindex="0">
    <h3>Reviews</h3>
    <div *ngFor="let review of item.reviews">
      {{review.username}}
      {{review.description}} 
      {{review.classification}}
    </div>
    <div *ngIf = "item.reviews.length == 0"> 
      <p>Be the first to review this item: </p>
    </div>
    <Input name="Review" id="description" />
      <select name="classification" id="classification">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button (click) = createReview()> Send review </button>


  </div>
</div>
