.main {
  margin: auto;
  max-width: 60vw;
}

img.cover {
  max-width: fit-content;
  width: 100%;
}

.info {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}
.details {
  align-self: center;
  min-width: 50%;
}

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 50%;
  margin: 0 auto;
}

.lang > p {
  margin: 0.2rem;
  padding: 0;
}

.reel {
  margin: auto;
  max-width: 600px;
  align-items: center;
}

.reel video {
  width: 100%;
}

.reel img {
  width: 100%;
}

p,
h2,
h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.reviews {
  text-align: left;
  margin-bottom: 20px;
}

#reviewHeader {
  position: relative;
  font-size: 25px;
  line-height: 20px;
  padding-bottom: 5px;
}
#stars {
  border: 1px solid black;
  margin-left: 5px;
  font-size: 13px;
  vertical-align: top;
}
#desc {
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 0px;
}

.reviewItem {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 30px;
}
#description {
  margin-top: 5px;
  min-height: 50px;
  max-height: 75px;
  min-width: 100%;
  max-width: 100%;
}

.reviewItem button {
  display: block;
}

.comment-area {
  margin-top: 5px;
  min-height: 30px;
  max-height: 50px;
  min-width: 100%;
  max-width: 100%;
}

.item-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

#feedback-message {
  width: 100%;
}
