.main {
  margin: auto;
  max-width: 800px;
}

.info {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}
.details {
  align-self: center;
}

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.reel {
  margin: auto;
  max-width: 600px;
  align-items: center;
}

.reel img {
  width: 600px;
}

p,
h2,
h3 {
  padding-left: 20px;
  padding-right: 20px;
}
