<div *ngIf="user">
  <h2>Edit {{ user.username }} profile</h2>
  <div>
    <h1 class="profile">
      <div *ngIf="user.image != undefined">
        <img
          id="profile_picture"
          src="{{ user.image }}"
          alt="Profile picture"
        />
      </div>
      <button>Change profile picture</button>
      Change name:
      <div>
        <Input
          name="username"
          ngDefaultControl
          id="profile_name"
          [(ngModel)]="user.username"
          placeholder="Username"
        />
      </div>
    </h1>
  </div>
  <button type="button" (click)="save()">Apply changes</button>
  <button
    type="button"
    (click)="goBack()"
    [routerLink]="['/profile/', user.username]"
  >
    Return to profile page
  </button>
  <h1 id="feedback">{{ feedback }}</h1>
</div>
