<nav>
  <ul>
    <li><a routerLink="/">HOME</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">PROFILE</a></li>
    <li *ngIf="username.length>0"><a routerLink="/profile/{{username}}">PROFILE</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">FOLLOWING</a></li>

    <li><a href="#">FOLLOWING</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">FOLLOWERS</a></li>
    <li *ngIf="username.length>0"><a href="#">FOLLOWERS</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">LISTS</a></li>
    <li *ngIf="username.length>0"><a href="#">LISTS</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">LIBRARY</a></li>
    <li *ngIf="username.length>0"><a routerLink="/list/{{username}}/library">LIBRARY</a></li>
    <li *ngIf="username.length==0"><a routerLink="/login">WISHLIST</a></li>
    <li *ngIf="username.length>0"><a routerLink="/list/{{username}}/wishlist">WISHLIST</a></li>
  </ul>
</nav>


<h2 class="most-popular-title">MOST POPULAR CONTENT</h2>

<div class="most-popular-content">
  <a class="box-with-game" *ngFor="let item of items" routerLink="/detail/{{ item.id }}">
    <img src="{{item.cover}}" alt="game cover">
    <br>
    <p *ngIf="item.price > 0">
      {{ item.title }} <br /><br />{{ item.price }}€
    </p>
    <p *ngIf="item.price == 0">
      {{ item.title }} <br /><br /> Free to Play
    </p>
  </a>
</div>
