nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .most-popular-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .box-with-game {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-with-game h3 {
    font-size: 24px;
  }