<nav>
  <ul>
    <li><a routerLink="/">HOME</a></li>
    <li><a routerLink="/profile/{{username}}">PROFILE</a></li>
    <li><a href="#">FOLLOWING</a></li>
    <li><a href="#">FOLLOWERS</a></li>
    <li><a href="#">My LISTS</a></li>
    <li><a href="#">My LIBRARIES</a></li>
  </ul>
</nav>


<h2 class="most-popular-title">MOST POPULAR CONTENT</h2>

<div class="most-popular-content">
  <div class="box-with-game">
    <h3>BOX WITH GAME 1</h3>
  </div>
  <div class="box-with-game">
    <h3>BOX WITH GAME 2</h3>
  </div>
  <div class="box-with-game">
    <h3>BOX WITH GAME 3</h3>
  </div>
  <div class="box-with-game">
    <h3>BOX WITH GAME 4</h3>
  </div>
</div>
