nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.most-popular-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.box-with-game {
  width: 300px;
  height: auto;
  margin: 10px;
  justify-content: center;
  border-style: solid;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  background-color: #47645c;
}

.box-with-game img {
  border-radius: 30px;
  max-width: 300px;
  height: auto;
  max-width: 300px;
}

.box-with-game a {
  border-style: solid;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  background-color: #47645c;
}
